/* Google */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial,sans-serif;
    font-size: 14px;
}

#container{
    width: 584px;
    margin: 0 auto;
    text-align: center;
    padding-top:119px;
}


h1#logo{
    height: 92px;
    width: 272px;
    background: url(google.png) top left no-repeat;
    background-size: 100%;
    text-indent: -9999px;
    margin: 0 auto;
}

input[type="search"]{
    width: 584px;
    height: 46px;
    padding: 20px;
    margin: 25px 0px 18px;
    border: solid 1px #ccc;
    color: black;
    display: flex;
    word-wrap: break-word;
    flex: 100%;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    border-radius: 20px;
}

input[type="search"]:hover{
    border-color: #aaa;
    
}

input[type="submit"]{
    background: #eee;
    color: #333;
    border: solid 1px #ccc; 
    padding: 0px 16px;
    margin:11px 4px;
    font-size:14px;
    font-family: Arial, sans-serif;
    height: 36px;
    line-height: 27px;
    border-radius: 4px;
}


input[type="submit"]{
    cursor: pointer;
    border-color: #aaa;
}

small{
    display: block;
    margin: 24px 0 0 0;
    font-size: small;
    
}
small a:link,
small a:visited{
    font-size: small;
    text-decoration:none;
}
small a:hover{
    text-decoration: underline;
}

a:link, a:visited{
    color: mediumblue;
}

nav#header{
     padding: 30px; 
     text-align: right;
}

nav#header ul li{
    display: inline;
   
}

nav#header ul li a:link,
nav#header ul li a:visited,
footer nav ul li a:link,
footer nav ul li a:visited{
    color: #555;
    padding: 10px;
    text-decoration: none;
}

nav#header ul li a:hover,
footer nav ul li a:hover{
    text-decoration: underline;
}


footer,footer#fbar li{
    background: #eee;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: left;
}

footer ul li{
    display:inline-block;
    padding: 8px;
}
#fbar{
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}
#fright{
  padding-left: 665px;   
}



